In [46]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

# Goal : Predict National Policy Changes based on case data 


[dataset src](https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36/data)

## Exploring Policy Data

In [47]:
import pandas as pd
import matplotlib 
from matplotlib import pyplot as plt
import pyspark.pandas as ps
from pyspark.sql import SparkSession

In [48]:
dfP = pd.read_csv('/content/USA_policy_2022.csv',parse_dates=['Date'])
dfP2 = pd.read_csv('/content/USA_policy_2021.csv',parse_dates=['Date'])
#parse_dates=['Date']

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [49]:
# National Policies
dfP[dfP['Jurisdiction']=='NAT_TOTAL']

,Unnamed: 0,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C1_Notes,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,30784,United States,USA,NaN,NaN,NAT_TOTAL,2022-01-01,2.0,0.0,NaN,...,53.24,53.24,63.81,63.81,52.6,52.60,60.12,60.12,0.0,0.0
1,30785,United States,USA,NaN,NaN,NAT_TOTAL,2022-01-02,2.0,0.0,NaN,...,53.24,53.24,63.81,63.81,52.6,52.60,60.12,60.12,0.0,0.0
2,30786,United States,USA,NaN,NaN,NAT_TOTAL,2022-01-03,2.0,0.0,NaN,...,53.24,53.24,63.81,63.81,52.6,52.60,60.12,60.12,0.0,0.0
3,30787,United States,USA,NaN,NaN,NAT_TOTAL,2022-01-04,2.0,0.0,Several school districts across the country ar...,...,53.24,53.24,63.81,63.81,52.6,52.60,60.12,60.12,0.0,0.0
4,30788,United States,USA,NaN,NaN,NAT_TOTAL,2022-01-05,2.0,0.0,NaN,...,53.24,53.24,63.81,63.81,52.6,52.60,60.12,60.12,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,30883,United States,USA,NaN,NaN,NAT_TOTAL,2022-04-10,NaN,NaN,NaN,...,NaN,58.80,NaN,66.67,NaN,57.81,NaN,66.07,NaN,0.0
100,30884,United States,USA,NaN,NaN,NAT_TOTAL,2022-04-11,NaN,NaN,NaN,...,NaN,58.80,NaN,66.67,NaN,57.81,NaN,66.07,NaN,0.0
101,30885,United States,USA,NaN,NaN,NAT_TOTAL,2022-04-12,NaN,NaN,NaN,...,NaN,58.80,NaN,66.67,NaN,57.81,NaN,66.07,NaN,0.0
102,30886,United States,USA,NaN,NaN,NAT_TOTAL,2022-04-13,NaN,NaN,NaN,...,NaN,58.80,NaN,66.67,NaN,57.81,NaN,66.07,NaN,0.0
103,30887,United States,USA,NaN,NaN,NAT_TOTAL,2022-04-14,NaN,NaN,NaN,...,NaN,58.80,NaN,66.67,NaN,57.81,NaN,66.07,NaN,0.0

In [50]:
# State Policies
dfP[dfP['Jurisdiction']=='STATE_TOTAL']

,Unnamed: 0,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C1_Notes,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
104,30888,United States,USA,Alaska,US_AK,STATE_TOTAL,2022-01-01,1.0,0.0,NaN,...,45.83,45.83,58.33,58.33,48.96,48.96,52.38,52.38,25.0,25.0
105,30889,United States,USA,Alaska,US_AK,STATE_TOTAL,2022-01-02,1.0,0.0,NaN,...,45.83,45.83,58.33,58.33,48.96,48.96,52.38,52.38,25.0,25.0
106,30890,United States,USA,Alaska,US_AK,STATE_TOTAL,2022-01-03,1.0,0.0,NaN,...,45.83,45.83,58.33,58.33,48.96,48.96,52.38,52.38,25.0,25.0
107,30891,United States,USA,Alaska,US_AK,STATE_TOTAL,2022-01-04,1.0,0.0,NaN,...,45.83,45.83,58.33,58.33,48.96,48.96,52.38,52.38,25.0,25.0
108,30892,United States,USA,Alaska,US_AK,STATE_TOTAL,2022-01-05,1.0,0.0,NaN,...,45.83,45.83,58.33,58.33,48.96,48.96,52.38,52.38,25.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5403,36187,United States,USA,Wyoming,US_WY,STATE_TOTAL,2022-04-10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5404,36188,United States,USA,Wyoming,US_WY,STATE_TOTAL,2022-04-11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5405,36189,United States,USA,Wyoming,US_WY,STATE_TOTAL,2022-04-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5406,36190,United States,USA,Wyoming,US_WY,STATE_TOTAL,2022-04-13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5407,36191,United States,USA,Wyoming,US_WY,STATE_TOTAL,2022-04-14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# Policy Data 
dfNP = dfP[dfP['Jurisdiction']=='NAT_TOTAL']
#dfNP = ps.from_pandas(dfNP)

In [52]:
dfNP.columns

Index(['Unnamed: 0', 'CountryName', 'CountryCode', 'RegionName', 'RegionCode',
       'Jurisdiction', 'Date', 'C1_School closing', 'C1_Flag', 'C1_Notes',
       'C2_Workplace closing', 'C2_Flag', 'C2_Notes',
       'C3_Cancel public events', 'C3_Flag', 'C3_Notes',
       'C4_Restrictions on gatherings', 'C4_Flag', 'C4_Notes',
       'C5_Close public transport', 'C5_Flag', 'C5_Notes',
       'C6_Stay at home requirements', 'C6_Flag', 'C6_Notes',
       'C7_Restrictions on internal movement', 'C7_Flag', 'C7_Notes',
       'C8_International travel controls', 'C8_Notes', 'E1_Income support',
       'E1_Flag', 'E1_Notes', 'E2_Debt/contract relief', 'E2_Notes',
       'E3_Fiscal measures', 'E3_Notes', 'E4_International support',
       'E4_Notes', 'H1_Public information campaigns', 'H1_Flag', 'H1_Notes',
       'H2_Testing policy', 'H2_Notes', 'H3_Contact tracing', 'H3_Notes',
       'H4_Emergency investment in healthcare', 'H4_Notes',
       'H5_Investment in vaccines', 'H5_Notes', 'H6_Facial Coverings',
       'H6_Flag', 'H6_Notes', 'H7_Vaccination policy', 'H7_Flag', 'H7_Notes',
       'H8_Protection of elderly people', 'H8_Flag', 'H8_Notes', 'M1_Wildcard',
       'M1_Notes', 'V1_Vaccine Prioritisation (summary)', 'V1_Notes',
       'V2A_Vaccine Availability (summary)', 'V2_Notes',
       'V2B_Vaccine age eligibility/availability age floor (general population summary)',
       'V2C_Vaccine age eligibility/availability age floor (at risk summary)',
       'V2D_Medically/ clinically vulnerable (Non-elderly)', 'V2E_Education',
       'V2F_Frontline workers  (non healthcare)',
       'V2G_Frontline workers  (healthcare)',
       'V3_Vaccine Financial Support (summary)', 'V3_Notes',
       'V4_Mandatory Vaccination (summary)', 'V4_Notes', 'ConfirmedCases',
       'ConfirmedDeaths', 'StringencyIndex', 'StringencyIndexForDisplay',
       'StringencyLegacyIndex', 'StringencyLegacyIndexForDisplay',
       'GovernmentResponseIndex', 'GovernmentResponseIndexForDisplay',
       'ContainmentHealthIndex', 'ContainmentHealthIndexForDisplay',
       'EconomicSupportIndex', 'EconomicSupportIndexForDisplay'],
      dtype='object')

In [53]:
dfNP = dfNP[['Date',
      'C1_School closing',
      'C2_Workplace closing',
      'C3_Cancel public events',
     'C5_Close public transport',
      'H2_Testing policy'
     ]]

In [54]:
dfNP.sort_values(by=['Date'])

          Date  C1_School closing  C2_Workplace closing  C3_Cancel public events  C5_Close public transport  H2_Testing policy
0   2022-01-01                2.0                   2.0                      1.0                        1.0                3.0
1   2022-01-02                2.0                   2.0                      1.0                        1.0                3.0
2   2022-01-03                2.0                   2.0                      1.0                        1.0                3.0
3   2022-01-04                2.0                   2.0                      1.0                        1.0                3.0
4   2022-01-05                2.0                   2.0                      1.0                        1.0                3.0
5   2022-01-06                2.0                   2.0                      1.0                        1.0                3.0
6   2022-01-07                2.0                   2.0                      1.0                        1.0                3.0
7   2022-01-08                2.0                   2.0                      1.0                        1.0                3.0
8   2022-01-09                2.0                   2.0                      1.0                        1.0                3.0
9   2022-01-10                2.0                   2.0                      1.0                        1.0                3.0
10  2022-01-11                2.0                   2.0                      1.0                        1.0                3.0
11  2022-01-12                2.0                   2.0                      1.0                        1.0                3.0
12  2022-01-13                2.0                   2.0                      1.0                        1.0                3.0
13  2022-01-14                2.0                   2.0                      1.0                        1.0                3.0
14  2022-01-15                2.0                   2.0                      1.0                        1.0                3.0
15  2022-01-16                2.0                   2.0                      1.0                        1.0                3.0
16  2022-01-17                2.0                   2.0                      1.0                        1.0                3.0
17  2022-01-18                2.0                   2.0                      1.0                        1.0                3.0
18  2022-01-19                2.0                   2.0                      2.0                        1.0                3.0
19  2022-01-20                2.0                   2.0                      2.0                        1.0                3.0
20  2022-01-21                2.0                   2.0                      2.0                        1.0                3.0
21  2022-01-22                2.0                   2.0                      2.0                        1.0                3.0
22  2022-01-23                2.0                   2.0                      2.0                        1.0                3.0
23  2022-01-24                2.0                   2.0                      2.0                        1.0                3.0
24  2022-01-25                2.0                   2.0                      2.0                        1.0                3.0
25  2022-01-26                2.0                   2.0                      2.0                        1.0                3.0
26  2022-01-27                2.0                   2.0                      2.0                        1.0                3.0
27  2022-01-28                2.0                   2.0                      2.0                        1.0                3.0
28  2022-01-29                2.0                   2.0                      2.0                        1.0                3.0
29  2022-01-30                2.0                   2.0                      2.0                        1.0                3.0
30  2022-01-31                2.0                   2.0                      2.0                        1.0                3.0
31  2022-02-01                2.0                   2.0                      2.0                        1.0                3.0
32  2022-02-02                2.0                   2.0                      2.0                        1.0                3.0
33  2022-02-03                2.0                   2.0                      2.0                        1.0                3.0
34  2022-02-04                2.0                   2.0                      2.0                        1.0                3.0
35  2022-02-05                2.0                   2.0                      2.0                        1.0                3.0
36  2022-02-06                2.0                   2.0                      2.0                        1.0                3.0
37  2022-02-07                2.0                   2.0                      2.0                        1.0                3.0
38  2022-02-08                2.0                   2.0                      2.0                        1.0                3.0
39  2022-02-09                2.0                   2.0                      2.0                        1.0                3.0
40  2022-02-10                2.0                   2.0                      2.0                        1.0                3.0
41  2022-02-11                2.0                   2.0                      2.0                        1.0                3.0
42  2022-02-12                2.0                   2.0                      2.0                        1.0                3.0
43  2022-02-13                2.0                   2.0                      2.0                        1.0                3.0
44  2022-02-14                2.0                   2.0                      2.0                        1.0                3.0
45  2022-02-15                2.0                   2.0                      2.0                        1.0                3.0
46  2022-02-16                2.0                   2.0                      2.0                        1.0                3.0
47  2022-02-17                2.0                   2.0                      2.0                        1.0                3.0
48  2022-02-18                2.0                   2.0                      2.0                        1.0                3.0
49  2022-02-19                2.0                   2.0                      2.0                        1.0                3.0
50  2022-02-20                2.0                   2.0                      2.0                        1.0                3.0
51  2022-02-21                2.0                   2.0                      2.0                        1.0                3.0
52  2022-02-22                2.0                   2.0                      2.0                        1.0                3.0
53  2022-02-23                2.0                   2.0                      2.0                        1.0                3.0
54  2022-02-24                2.0                   2.0                      2.0                        1.0                3.0
55  2022-02-25                2.0                   2.0                      2.0                        1.0                3.0
56  2022-02-26                2.0                   2.0                      2.0                        1.0                3.0
57  2022-02-27                2.0                   2.0                      2.0                        1.0                3.0
58  2022-02-28                2.0                   2.0                      2.0                        1.0                3.0
59  2022-03-01                2.0                   2.0                      2.0                        1.0                3.0
60  2022-03-02                2.0                   2.0                      2.0                        1.0                3.0
61  2022-03-03                2.0                   2.0                      2.0                        1.0                3.0
62  2022-03-04                2.0                   2.0                      2.0                        1.0                3.0
63  2022-03-05                2.0                   2.0                      2.0                        1.0                3.0
64  2022-03-06                2.0                   2.0                      2.0                        1.0                3.0
65  2022-03-07                2.0                   2.0                      2.0                        1.0                3.0
66  2022-03-08                2.0                   2.0                      2.0                        1.0                3.0
67  2022-03-09                2.0                   2.0                      2.0                        1.0                3.0
68  2022-03-10                2.0                   2.0                      2.0                        1.0                3.0
69  2022-03-11                2.0                   2.0                      2.0                        1.0                3.0
70  2022-03-12                2.0                   2.0                      2.0                        1.0                3.0
71  2022-03-13                2.0                   2.0                      2.0                        1.0                3.0
72  2022-03-14                2.0                   2.0                      2.0                        1.0                3.0
73  2022-03-15                2.0                   2.0                      2.0                        1.0                3.0
74  2022-03-16                2.0                   2.0                      2.0                        1.0                3.0
75  2022-03-17                2.0                   2.0                      2.0                        1.0                3.0
76  2022-03-18                2.0                   2.0                      2.0                        1.0                3.0
77  2022-03-19                2.0                   2.0                      2.0                        1.0                3.0
78  2022-03-20                2.0                   2.0                      2.0                        1.0                3.0
79  2022-03-21                2.0                   2.0                      2.0                        1.0                3.0
80  2022-03-22                2.0                   2.0                      2.0                        1.0                3.0
81  2022-03-23                2.0                   2.0                      2.0                        1.0                3.0
82  2022-03-24                2.0                   2.0                      2.0                        1.0                3.0
83  2022-03-25                2.0                   2.0                      2.0                        1.0                3.0
84  2022-03-26                2.0                   2.0                      2.0                        1.0                3.0
85  2022-03-27                2.0                   2.0                      2.0                        1.0                3.0
86  2022-03-28                2.0                   2.0                      2.0                        1.0                3.0
87  2022-03-29                2.0                   2.0                      2.0                        1.0                3.0
88  2022-03-30                2.0                   2.0                      2.0                        1.0                3.0
89  2022-03-31                2.0                   2.0                      2.0                        1.0                3.0
90  2022-04-01                2.0                   2.0                      2.0                        1.0                3.0
91  2022-04-02                2.0                   2.0                      2.0                        1.0                3.0
92  2022-04-03                2.0                   2.0                      2.0                        1.0                3.0
93  2022-04-04                2.0                   2.0                      2.0                        1.0                3.0
94  2022-04-05                2.0                   2.0                      2.0                        1.0                3.0
95  2022-04-06                2.0                   2.0                      2.0                        1.0                3.0
96  2022-04-07                2.0                   2.0                      2.0                        1.0                3.0
97  2022-04-08                NaN                   NaN                      NaN                        NaN                NaN
98  2022-04-09                NaN                   NaN                      NaN                        NaN                NaN
99  2022-04-10                NaN                   NaN                      NaN                        NaN                NaN
100 2022-04-11                NaN                   NaN                      NaN                        NaN                NaN
101 2022-04-12                NaN                   NaN                      NaN                        NaN                NaN
102 2022-04-13                NaN                   NaN                      NaN                        NaN                NaN
103 2022-04-14                NaN                   NaN                      NaN                        NaN                NaN

In [65]:
#dfNP.loc[:,'C1_School closing'].rolling(window=2).apply(lambda x: x.iloc[1] - x.iloc[0]).unique()
dfNP.loc[:,'C1_School closing'].rolling(2).min()

0      NaN
1      2.0
2      2.0
3      2.0
4      2.0
5      2.0
6      2.0
7      2.0
8      2.0
9      2.0
10     2.0
11     2.0
12     2.0
13     2.0
14     2.0
15     2.0
16     2.0
17     2.0
18     2.0
19     2.0
20     2.0
21     2.0
22     2.0
23     2.0
24     2.0
25     2.0
26     2.0
27     2.0
28     2.0
29     2.0
30     2.0
31     2.0
32     2.0
33     2.0
34     2.0
35     2.0
36     2.0
37     2.0
38     2.0
39     2.0
40     2.0
41     2.0
42     2.0
43     2.0
44     2.0
45     2.0
46     2.0
47     2.0
48     2.0
49     2.0
50     2.0
51     2.0
52     2.0
53     2.0
54     2.0
55     2.0
56     2.0
57     2.0
58     2.0
59     2.0
60     2.0
61     2.0
62     2.0
63     2.0
64     2.0
65     2.0
66     2.0
67     2.0
68     2.0
69     2.0
70     2.0
71     2.0
72     2.0
73     2.0
74     2.0
75     2.0
76     2.0
77     2.0
78     2.0
79     2.0
80     2.0
81     2.0
82     2.0
83     2.0
84     2.0
85     2.0
86     2.0
87     2.0
88     2.0
89     2.0
90     2.0
91     2.0
92     2.0
93     2.0
94     2.0
95     2.0
96     2.0
97     2.0
98     NaN
99     NaN
100    NaN
101    NaN
102    NaN
103    NaN
Name: C1_School closing, dtype: float64

# This is a cool insight 
No policy changes made this year  (interesting) __wrt School Closing__

# 1.0 FRAMEWORK OF WORK

In [73]:
# Upload Any policy Data
from pyspark.sql.functions import concat_ws,col
polData1 = pd.read_csv('/content/USA_policy_2022.csv',parse_dates=['Date'])
polData2 = pd.read_csv('/content/USA_policy_2021.csv',parse_dates=['Date'])
polData1 = ps.from_pandas(polData1)
polData2 = ps.from_pandas(polData2)


#polData = pd.concat([polData1,polData2])
polData = ps.concat([polData1,polData2])
polData = polData.reset_index()

# Only Consider National Policies 
polData = polData[polData['Jurisdiction']=='NAT_TOTAL']

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [74]:
polData.columns

Index(['index', 'Unnamed: 0', 'CountryName', 'CountryCode', 'RegionName',
       'RegionCode', 'Jurisdiction', 'Date', 'C1_School closing', 'C1_Flag',
       'C1_Notes', 'C2_Workplace closing', 'C2_Flag', 'C2_Notes',
       'C3_Cancel public events', 'C3_Flag', 'C3_Notes',
       'C4_Restrictions on gatherings', 'C4_Flag', 'C4_Notes',
       'C5_Close public transport', 'C5_Flag', 'C5_Notes',
       'C6_Stay at home requirements', 'C6_Flag', 'C6_Notes',
       'C7_Restrictions on internal movement', 'C7_Flag', 'C7_Notes',
       'C8_International travel controls', 'C8_Notes', 'E1_Income support',
       'E1_Flag', 'E1_Notes', 'E2_Debt/contract relief', 'E2_Notes',
       'E3_Fiscal measures', 'E3_Notes', 'E4_International support',
       'E4_Notes', 'H1_Public information campaigns', 'H1_Flag', 'H1_Notes',
       'H2_Testing policy', 'H2_Notes', 'H3_Contact tracing', 'H3_Notes',
       'H4_Emergency investment in healthcare', 'H4_Notes',
       'H5_Investment in vaccines', 'H5_Notes', 'H6_Facial Coverings',
       'H6_Flag', 'H6_Notes', 'H7_Vaccination policy', 'H7_Flag', 'H7_Notes',
       'H8_Protection of elderly people', 'H8_Flag', 'H8_Notes', 'M1_Wildcard',
       'M1_Notes', 'V1_Vaccine Prioritisation (summary)', 'V1_Notes',
       'V2A_Vaccine Availability (summary)', 'V2_Notes',
       'V2B_Vaccine age eligibility/availability age floor (general population summary)',
       'V2C_Vaccine age eligibility/availability age floor (at risk summary)',
       'V2D_Medically/ clinically vulnerable (Non-elderly)', 'V2E_Education',
       'V2F_Frontline workers  (non healthcare)',
       'V2G_Frontline workers  (healthcare)',
       'V3_Vaccine Financial Support (summary)', 'V3_Notes',
       'V4_Mandatory Vaccination (summary)', 'V4_Notes', 'ConfirmedCases',
       'ConfirmedDeaths', 'StringencyIndex', 'StringencyIndexForDisplay',
       'StringencyLegacyIndex', 'StringencyLegacyIndexForDisplay',
       'GovernmentResponseIndex', 'GovernmentResponseIndexForDisplay',
       'ContainmentHealthIndex', 'ContainmentHealthIndexForDisplay',
       'EconomicSupportIndex', 'EconomicSupportIndexForDisplay'],
      dtype='object')

In [75]:
# Pick Columns of Policy Interested 
polColumns = [
    'C1_School closing',
    'C6_Stay at home requirements',
    'C2_Workplace closing',
    'C7_Restrictions on internal movement',
    'C3_Cancel public events',
    'C4_Restrictions on gatherings',
    'C5_Close public transport',
    'H2_Testing policy'
]

In [76]:
# National Policies
polData = polData[polColumns+['Date']]

In [84]:
polData = polData.sort_values(by=['Date'])
polData.head()

      C1_School closing  C6_Stay at home requirements  C2_Workplace closing  C7_Restrictions on internal movement  C3_Cancel public events  C4_Restrictions on gatherings  C5_Close public transport  H2_Testing policy       Date
5408                3.0                           2.0                   2.0                                   2.0                      2.0                            4.0                        1.0                3.0 2021-01-01
5409                3.0                           2.0                   2.0                                   2.0                      2.0                            4.0                        1.0                3.0 2021-01-02
5410                3.0                           2.0                   2.0                                   2.0                      2.0                            4.0                        1.0                3.0 2021-01-03
5411                3.0                           2.0                   2.0                                   2.0                      2.0                            4.0                        1.0                3.0 2021-01-04
5412                3.0                           2.0                   2.0                                   2.0                      2.0                            4.0                        1.0                3.0 2021-01-05

In [85]:
ps.set_option('compute.ops_on_diff_frames', True)

In [86]:
for policyName  in polColumns:
    polData['diff_'+policyName] = polData.loc[:,policyName].rolling(2).min()
    #polData['diff_'+policyName] = polData.loc[:,policyName].rolling(window=2).apply(lambda x: x.iloc[1] - x.iloc[0])

In [88]:
#polData

In [89]:
#polData

In [102]:
DATELIST = []

for policyName  in polColumns:
    diffColumn = 'diff_'+policyName
    
    dates_of_change = polData.dropna()[polData[diffColumn]!=0]['Date'].to_list()
    values_of_change = polData.dropna()[polData[diffColumn]!=0][diffColumn].to_list()
    DATELIST.append({
        'policy_name' : policyName,
        'dates_of_change':dates_of_change,
        'value' : values_of_change
    })

NameError: ignored

In [ ]:
DATELIST

-----

## 2.0 Exploring Case Data

In [100]:
# Case Data Processing 
dfC = pd.read_csv('/content/db.csv',parse_dates=['submission_date'])
dfC = ps.from_pandas(dfC)
dfC = dfC.sort_values(by='submission_date',ascending=True)
dfC

ConnectionRefusedError: ignored

In [ ]:
dfC_proc = dfC[['submission_date','new_case','new_death']].groupby('submission_date').sum()

In [ ]:
dfC_proc.columns

In [ ]:
dfC_proc.plot(y='new_case')

In [ ]:
dfC_proc['new_case_MA20'] = dfC_proc.loc[:,'new_case'].rolling(window=20).mean()
dfC_proc['new_death_MA20'] = dfC_proc.loc[:,'new_death'].rolling(window=20).mean()

In [ ]:
dfC_proc.dropna(inplace=True)

In [ ]:
dfC_proc

In [ ]:
dfC_proc.plot(y='new_case_MA20')

In [ ]:
dfC_proc.plot(y='new_death_MA20')

In [ ]:
dfC_proc.plot(y=['new_death_MA20','new_case_MA20'])

# 3.0 Fusion

In [ ]:
dfC_proc

In [ ]:
for column_name in polColumns:
    dfC_proc[column_name] = 0 

dfC_proc

In [ ]:
dfC_proc.reset_index(inplace=True)
dfC_proc

In [ ]:
DATELIST

In [ ]:
for dateset in DATELIST:
    print(dateset['policy_name'])
    for index,change_date in enumerate(dateset['dates_of_change']):
        print('\t',change_date)
        idx = dfC_proc[dfC_proc['submission_date']==change_date].index[0]
        dfC_proc.at[idx,dateset['policy_name']]=dfC_proc.loc[idx]['new_case_MA20']*dateset['value'][index]

In [ ]:

matplotlib.rcParams['figure.figsize'] = [15, 10]
dfC_proc.plot(x='submission_date',y=polColumns+['new_case_MA20'])

In [ ]:
# fig, axs = plt.subplots(1)
# fig.suptitle('Vertically stacked subplots')
# axs.plot(dfC_proc['submission_date'],dfC_proc['new_case_MA20'])
# axs.scatter(dfC_proc['submission_date'],dfC_proc['C1_School closing'])
# axs.scatter(dfC_proc['submission_date'],dfC_proc['C2_Workplace closing'])
# axs.scatter(dfC_proc['submission_date'],dfC_proc['C7_Restrictions on internal movement'])

In [ ]:
from matplotlib import pyplot as plt